@{
    ViewData["Title"] = "Home Page";
}
    <div class="container-fluid">
        <div class="jumbotron-fluid text-white d-flex justify-content-center">
            <div class="text-center">
                <h1 class="banner-caption mt-5 display-2">Contoso University</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md m-2">
                <h2>Our Mission</h2>
                <p>
                    To serve the people of the world through preeminence in creating,
                    communicating, preserving and applying knowledge, art and academic values, and in developing leaders and
                    citizens who will challenge the present and enrich the future.
                </p>
            </div>
            <div class="col-md m-2">
                <h2>What We Offer</h2>
                <p>We offer courses in mathmatics, english, economics, science, history, and more with new courses being added regularly.
                Come to Contoso University where you will learn from some of the most well respected faculty in the nation who will help you achieve whatever you career goals might be. </p>
            </div>
        </div>
    </div>